<!DOCTYPE html>
<html>
<head>
    <title>Wifi QR Scaner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="/media/main.css">
    <script type="text/javascript" src="/media/jquery.min.js"></script>
</head>
<body>
    <div class="container">
      <h1>Wifi Mobile QR Scaner</h1>
      <p>Server is running....</p>
    </div>
</body>
</html>
